%p
  %table
    %tr
      %th Name
      %th Type
      %th Date
    %tr
      %td bla
      %td bla
      %td bla
    %tr
      %td bla
      %td bla
      %td bla
    %tr
      %td bla
      %td bla
      %td bla
