%p
  %table
    %tr
      %th.first.blue Name
      %th.blue Type
      %th.blue Date
      %th.blue Type
      %th.last.blue Date
    %tr
      %td bla
      %td bla
      %td bla
      %td bla
      %td bla

    %tr
      %td bla
      %td bla
      %td bla
      %td bla
      %td bla

    %tr
      %td bla
      %td bla
      %td bla
      %td bla
      %td bla
