%tr
  %td= todo.task.name.truncate(30)
  %td= l todo.task.time, format: :time_only
  %td= l todo.deadline, format: :date_only
  %td
    - if todo.task.should_be_checked
      = image_button 'iconic/check_16x13.png', complete_community_task_occurrence_path(@community, todo), remote: true, data: {title: t('.complete')}, class: 'tooltip-link'