- content_for :menu do
  =render partial: 'tasks/menu.html.haml'
  
%p
  %h2= image_tag('iconic/calendar_alt_fill_32x32.png') + t('.title')

  %table.table.table-striped
    %tr
      %th= TaskOccurrence.human_attribute_name(:task)
      %th= TaskOccurrence.human_attribute_name(:duration)
      %th= TaskOccurrence.human_attribute_name(:deadline)
      %th
    =render partial: 'todo', collection: @task_occurrences
  =will_paginate @task_occurrences, class: 'pagination pagination-centered pagination-mini'
