= form_tag comment_path(@object), class: 'form-horizontal', id: 'comment-form' do
  %div.control-group.comment-editor
    = text_area_tag :comment_body, '', rows: 5, class: 'span8 tinymce'
    = tinymce
  %div.control-group.comment-editor
    = submit_tag t('actions.submit'), class: 'btn btn-primary'