= form_tag community_task_occurrence_comments_path(@community, @task_occurrence) do
  = text_area_tag :comment_body, '', rows: 5, class: 'span11'
  %div.form-actions
    = submit_tag 'Post', class: 'btn btn-primary'