= form_tag community_task_occurrence_comments_path(@community, @task_occurrence), remote: true, class: 'form-horizontal' do
  %div.control-group
    = text_area_tag :comment_body, '', rows: 5, class: 'span12'
  %div.control-group
    = submit_tag t('actions.post'), class: 'btn btn-primary'