%p= t('tasks.new.drag_hint')
= f.text_field :user_order, class: 'hide'
%p
  %ul#user-sorter.sortable.nav.nav-tabs.nav-stacked
    - @task.ordered_members.each do |member|
      %li.sort-item{:user_id => member.id}
        =link_to member.name, '#'
