%p
  %h2= image_tag('iconic/calendar_alt_fill_32x32.png') + t('.title')

%p
  %ul.nav.nav-pills
    =action_tab t('.todo'), :todo
    =action_tab t('.open'), :open
    =action_tab t('.completed'), :completed
