%h2 Other
%p
  =link_to 'Account', 'www.google.com', class: 'button'
  =link_to 'Settings', 'www.google.com', class: 'button'
  =link_to t('logout'), destroy_user_session_path, method: :delete, class: 'button'