%p
  %h2= image_tag('iconic/wrench_24x24.png') + t('tasks.index.tasks')

%table.table.table-striped
  %tr
    %th= Task.model_name.human
    %th= t('compensations.compensation')

  = render partial: 'compensation', collection: @task_occurrences