%fieldset
  %legend=image_tag('iconic/info_12x24.png') + t('activerecord.models.invitation')
  %table.table
    %tr
      %th= t('activerecord.attributes.invitation.status')
      =invitation_status(@invitation)     
    %tr
      %th= t('activerecord.attributes.invitation.created_at')
      %td= l @invitation.created_at, format: :long