%fieldset
  %legend Community details
  = form_for ['admin', @community] do |f|
    =f.label :name
    =f.text_field :name
    =f.label :subdomain
    =f.text_field :subdomain

    =f.label :user_tokens, 'Members'
    =f.text_field :user_tokens
    =submit_button

