- content_for :menu do
  =render partial: '/admin/shared/admin_menu'
- content_for :title do
  =t('communities.index.title')

%p
  %table
    %th= t('activerecord.attributes.community.name')
    %th= t('activerecord.attributes.community.subdomain')
    %th= t('activerecord.attributes.community.members')
    %th
    = render partial: 'community', collection: @communities
