= simple_form_for @start_saldo_distribution, url: community_start_saldo_distribution_path(@community), html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend= t('.categories.payment')
    = image_tag 'iconic/book_alt2_32x28.png', class: 'logo'
    %div.control-group
