%div.row-fluid
  %h2= image_tag('iconic/calendar_alt_stroke_32x32.png') + @payment.title

%div.row-fluid
  %div.user-info
    %div.span6.well
      %div#payment-donut{data: {distribution: payment_distribution}}

    %div.span6.well= raw @payment.description


%hr