@import "bootstrap"
@import "forms.sass"
@import "token-input-facebook.css"
@import "jquery.ui.all"
@import "comments"

h2
  img
    margin: 0 10px

.error-text
  color: red

.valid-text
  color: green

.danger-text
  color: orange

table.table-full-width
  width: 100%
  