@import "variables"
@import "bootstrap"
@import "bootstrap-responsive"
@import "forms.sass"
@import "token-input-facebook.css"
@import "jquery.ui.all"
@import "comments"
@import "community_users"
ul.breadcrumb
  margin-top: 20px
  
div.navbar
  margin-bottom: 0
div.header
  background-color: #E0FA71
  padding-top: 30px
  margin-bottom: 20px
h2
  img
    margin: 0 10px
    padding-bottom: 5px

.error-text
  color: #960028

.valid-text
  color: #00CC00

.danger-text
  color: #9DB82E

table.table-full-width
  width: 100%

#version-box
  padding-top: 20px
  color: #999999

div.well.object-info
  min-height: 400px
