body {
  font: normal 12px helvetica;
  color: $grey4;
}

div.container {
  width: $page_width;
  margin: auto;
  background-color: $grey1;
  border: 1px solid $grey2;

  div.header {
    float: left;
    height: $header_height;
    width: $page_width;
    background-color: $grey1;
    border-bottom: 1px solid $grey2;
  }

  div.contents {
    float: left;
    width: $page_width - $menu_width - 1;
    background-color: $grey0;
    border-right: 1px solid $grey2;
  }

  div.menu {
    width: $menu_width;
    float: left;
    background-color: $grey1;
  }

  div.footer {
    height: $footer_height;
    width: $page_width;
    background-color: $grey1;
    border-top: 1px solid $grey2;
    clear: both;
  }
}



ul.main-menu {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  padding: 0 0;
  margin: 0 0 0 30%;
  color: white;
  font-weight: bold;

  border: 1px solid $purple2;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: $purple0; /* Old browsers */
  background: -moz-linear-gradient(top,  $purple0 0%, $purple2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$purple0), color-stop(100%,$purple2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $purple0 0%,$purple2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $purple0 0%,$purple2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $purple0 0%,$purple2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $purple0 0%,$purple2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple0', endColorstr='$purple2',GradientType=0 ); /* IE6-9 */

  li { 
    float: left; 
    font-size: 11pt;  
    padding: 10px 15px;
    border-right: 1px solid $purple1;
    border-left: 1px solid$purple2;
    margin: 0 0;
  }
}
