td
  label
    // display: none
  select
    width: 75px

fieldset
  span.title
    font-size: 1.5em
    margin-bottom: 10px
    img
      display: inline
      margin-right: 5px
  img.logo
    float: right

  legend
    img
      margin: 0 5px

.control-group.inline 
  display: inline-block

.control-group.neighbour
  .controls
    margin-left: 10px

ul#user-sorter
  li.separator
    padding: 20px 0