
$page_width: 1200px;
$page_height: 300px;

$header_height: 50px;
$footer_height: 40px;
$menu_width: 240px;


/* Colors */
$grey0: #F8F8F8;
$grey1: #ECECEC;
$grey2: #BDBDBD;
$grey3: #6C795E;
$grey4: #4C4C4C;
$grey5: #C6C6C6;

$purple0: #BC5488;
$purple1: #B04D7F;
$purple2: #772953;

$orange: #FF7D20;
