%p
  =table_title t('activerecord.attributes.community.members'), 4, 'iconic/user_12x16.png'
  %table.topline
    %tr
      %th= t('activerecord.attributes.user.name')
      %th= t('activerecord.attributes.user.email')
      %th= t('activerecord.attributes.user.role')
      %th
    = render partial: 'community_member', collection: @community.community_users