%tr
  %td= community_member.user.name
  %td= community_member.user.email
  %td= role_name community_member.role
  %td= (image_button 'iconic/trash_fill_12x12.png', community_user_path(community_member), method: :delete, confirm: t('messages.confirm')) if community_admin?