%tr
  %td= link_to community_user.community.name, community_path(community_user.community)
  %td= community_user.role
  %td= first_members community_user.community, 5
  %td= link_to t('actions.unsubscribe'), community_user_path(community_user), method: :delete, confirm: t('messages.confirm')
