%tr
  %td= invitation.invitor.name
  %td= invitation.invitee_email
  %td= I18n.l invitation.created_at, format: :long
  %td= link_to image_tag('trash_fill.png'), community_invitation_path(@community, invitation), method: :delete, confirm: t('messages.confirm')