%tr
  %td= invitation.invitor.name
  %td
    = show_accept ? invitation.community.name : invitation.invitee_email
  %td= I18n.l invitation.created_at, format: :long
  = invitation_status(invitation) 
  %td.actions
    =image_button 'iconic/trash_fill_12x12.png', invitation_path(invitation), method: :delete, confirm: t('messages.confirm'), data: {title: t('.delete')}, class: 'tooltip-link' unless show_accept
    =image_button 'iconic/check_16x13.png', edit_invitation_path(invitation.token), data: {title: t('.view')}, class: 'tooltip-link' if show_accept