%h2 Actions
%p
  =link_to t('menu.create_community'), new_community_path, class: 'button'
  =link_to t('menu.create_invitation'), new_invitation_path, class: 'button'

=render partial: 'shared/menu.html.haml'

