%h2 Actions
%p
  =link_to 'Create a community', new_admin_community_path, class: 'button'
  =link_to 'Create a user', new_admin_community_path, class: 'button'

%h2 Other
%p
  =link_to 'Account', 'www.google.com', class: 'button'
  =link_to 'Settings', 'www.google.com', class: 'button'
  =link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button'
