%html
  %head
    %title TaskSystem
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div#header-container
      %div#header
        %ul.main-menu
          %li Dashboard
          %li Tasks
          %li Notices
          %li Payments
    
    %div#main-container
      %div#contents
        %p= yield

      %div#sub-menu
        %h1 Opties

