%html
  %head
    %title TaskSystem
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      %div.header-container
        %div.header
          %ul.main-menu
            %li Dashboard
            %li Tasks

      %div.contents= yield
      %div.menu
        %h1 Menu
      %div.footer
     



